<p id="notice"><%= notice %></p>

<h1>
  <%= @blogpost.title %>
</h1>

<div class="boxed">
  <%= @blogpost.contents %>
</div>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>

<br>

<h2>Comments</h2>

<table>
	<thread>
		<tr>
			<th>Comment</th>
			<th>Author</th>
			<th colspan="2"></th>
		</tr>
	</thread>

	<tbody>
		<% @bpcomments.each do |comment| %>
			<tr>
				<td><%= comment.commenttext %></td>
				<td><%= comment.author %></td>
			<tr>
		<% end %>
	</tbody>
</table>




